body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000;
}
.video-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-container video {
  width: 100%;
  height: 100%;
}
.video-container .controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.2);
}

.video-container .controls button {
  background: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  height: 7vw;
  width: 7vw;
}

.video-container .controls button svg {
  fill: white;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 100%;
  height: 100%;
}
.video-container .controls .title {
  font-family: sans-serif;
  font-size: 2vmin;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.video-container .controls .title .series {
  color: #fefefe;
  font-weight: bold;
  font-weight: 1em;
}

.video-container .controls .title .episode {
  color: #a1a1a1;
  font-size: 0.75em;
  padding-left: 1vw;
}
